@import url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><radialGradient id="a8" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="%23949494"></stop><stop offset=".3" stop-color="%23949494" stop-opacity=".9"></stop><stop offset=".6" stop-color="%23949494" stop-opacity=".6"></stop><stop offset=".8" stop-color="%23949494" stop-opacity=".3"></stop><stop offset="1" stop-color="%23949494" stop-opacity="0"></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(%23a8)" stroke-width="15" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="1.2" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle><circle transform-origin="center" fill="none" opacity=".2" stroke="%23949494" stroke-width="15" stroke-linecap="round" cx="100" cy="100" r="70"></circle></svg>');

.preloader {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.section {
    padding: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title {
    background-color: #0f5579;
    border-radius: 3px;
    width: 100%;
}

/* .table, .table th, .table td {
    border: 1px solid rgb(255, 0, 0);
  border-collapse: collapse;
} */

.table {
    border-spacing: 0;
}

.table th {
    padding: 5px;
    text-align: center;
    font-weight: 700;
}

.table thead {
    background-color: rgb(19, 18, 18);
    font-size: 14px;
    color: #777777;
}

/* icons */
.table thead tr th:nth-child(1) {
    width: 300px;
}

/* forum */
.table thead tr th:nth-child(2) {
    width: 70%;
    text-align: start;
}

.table thead tr th:nth-child(3),
.table thead tr th:nth-child(4) {
    width: 6%;
}

/* last post */
.table thead tr th:nth-child(5) {
    width: 20%;
}

.table h3 {
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}

.table h4 {
    color: #cacaca;
    margin: 0;
}

.table h3:hover,
.table h4:hover {
    color: #b9b9b9;
}

.table td {
    padding: 0 10px;
    font-size: 14px;
}

.table tr td:nth-child(3),
.table tr td:nth-child(4) {
    text-align: center;
}

.table tr td:nth-child(5) {
    padding: 0 0 0 40px;
}

.table p {
    font-size: 14px;
    color: #a1a1a1;
}

.section-title span {
    color: white;
    display: inline-block;
    font-size: 17px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px 10px;
    background-color: rgba(0, 0, 0, 0.137);
}
