.table {
    width: 100%;
}

.preloader {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.table h3 {
    display: inline-block;
    margin: 15px 0 5px;
}

.title-wrapper {
    display: flex;
    align-items:baseline;
    gap: 10px;
}

.title-wrapper:hover h3 {
    color: #b9b9b9;
}

.title-wrapper p {
    font-size: 12px;

}


.table tr td {
    /* background-color: red; */
}

.table tr td:nth-child(1) {
    width: 4%;
}

.table tr td:nth-child(2) {
    width: 60%;
}
.table tr td:nth-child(3) {
    width: 7%;
}

.table tr td:nth-child(4) {
    width: 7%;
}

.table tr td:nth-child(5) {
    width: 30%;
}
