.header {
    background-color: #242424;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.header ul {
    color: white;
    font-weight: bold;
    font-family: Montserrat;
    display: flex;
}

.header ul li a {
    padding: 15px 20px;
}

.header ul li {
    padding: 15px 0;
}

.header ul li a:hover {
    color: rgb(165, 165, 165);
}
